<div class="page">
  <div class="logo">
    <img src="assets/logo.png" alt="" />
  </div>

  <div class="card">
    <div class="header">
      Cadastro de Apólice
    </div>
    <div class="body">
      <div class="item">
        <label for="startValidity">Início de vigência</label>
        <input id="startValidity" type="text">
      </div>

      <div class="item">
        <label for="endValidity">Fim de vigência</label>
        <input id="endValidity" type="text">
      </div>

      <div class="item">
        <label for="licensePlate">Placa</label>
        <input id="licensePlate" type="text">
      </div>

      <div class="item">
        <label for="value">Valor da apólice</label>
        <input id="value" type="text">
      </div>

    </div>
    <div class="actions">
      <button class="button primary">Cadastrar</button>
      <button class="button secondary" routerLink="/policies">Voltar</button>
    </div>
  </div>
</div>
