.page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

.logo {
  padding: 30px;
}

.card {
  min-width: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  background-color: #ffffff;
  border-radius: 10px;

  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
}

.card .header {
  padding: 20px;
  font-size: 32px;
  color: #078C03;
}

.card .body {
  display: flex
}

.button-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  color: #078C03;
  font-weight: bold;
  font-size: 18px;
  height: 120px;
  width: 140px;
  border-radius: 10px;
  border: 0;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  margin: 10px;

  transition: background-color 100ms;
}

.button-menu:hover {
  background-color: #ccc;
}

.button-menu .material-icons {
    font-size: 40px;
}

.table-list {
  margin: 20px;
}

.table-list > thead {
  padding: 20px;
}
