<div class="page">
  <div class="logo">
    <img src="assets/logo.png" alt="">
  </div>

  <div class="card">
    <div class="header">
      Clientes
      <button>
        <span class="material-icons">
          add
        </span>
        Cadastrar
      </button>
    </div>
    <div class="body">
      <table class="table-list">
        <thead>
          <tr>
            <th>Nome Completo</th>
            <th>CPF</th>
            <th>Cidade</th>
            <th>UF</th>
            <th>Ações</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Marcelo Alves de Almeida</td>
            <td>111.222.333-44</td>
            <td>Itabira</td>
            <td>MG</td>
            <td>
              <button>Editar</button>
              <button>Excluir</button>
            </td>
          </tr>
          <tr>
            <td>Marcelo Alves de Almeida</td>
            <td>111.222.333-44</td>
            <td>Itabira</td>
            <td>MG</td>
            <td>
              <button>Editar</button>
              <button>Excluir</button>
            </td>
          </tr>
          <tr>
            <td>Marcelo Alves de Almeida</td>
            <td>111.222.333-44</td>
            <td>Itabira</td>
            <td>MG</td>
            <td>
              <button>Editar</button>
              <button>Excluir</button>
            </td>
          </tr>
          <tr>
            <td>Marcelo Alves de Almeida</td>
            <td>111.222.333-44</td>
            <td>Itabira</td>
            <td>MG</td>
            <td>
              <button>Editar</button>
              <button>Excluir</button>
            </td>
          </tr>
          <tr>
            <td>Marcelo Alves de Almeida</td>
            <td>111.222.333-44</td>
            <td>Itabira</td>
            <td>MG</td>
            <td>
              <button>Editar</button>
              <button>Excluir</button>
            </td>
          </tr>
          <tr>
            <td>Marcelo Alves de Almeida</td>
            <td>111.222.333-44</td>
            <td>Itabira</td>
            <td>MG</td>
            <td>
              <button>Editar</button>
              <button>Excluir</button>
            </td>
          </tr>
          <tr>
            <td>Marcelo Alves de Almeida</td>
            <td>111.222.333-44</td>
            <td>Itabira</td>
            <td>MG</td>
            <td>
              <button>Editar</button>
              <button>Excluir</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
