.button-menu:hover {
  background-color: #ccc;
}

.button-menu .material-icons {
  font-size: 40px;
}

.find {
  display: flex;
}

.find {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.find-box {
  background: #baf5b8;
  border: 1px solid #078c03;
  box-sizing: border-box;
  border-radius: 10px;
  padding: 20px;

  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
}

.find .item {
  background-color: transparent;
  border: 0;
}

.primary {
  margin-left: 10px;
}

.status {
  padding: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #901818;
  font-weight: 700;
}

.icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border-radius: 50%;
  width: 200px;
  height: 200px;

  color: #fff;
  font-size: 42px;
}

.icon .material-icons {
  font-size: 60px;
}

.icon.warning {
  background-color: #a39b24;
}

.icon.danger {
  background-color: #901818;
}

.data {
  display: flex;
  justify-content: space-between;
}

.item {
  display: flex;
  flex-direction: column;
  color: #078c03;

  background: #eeffee;
  border: solid #078c03 0.1px;
  box-sizing: border-box;
  border-radius: 10px;
  padding-left: 10px;
  font-size: 32px;
  font-weight: bold;
  flex-grow: 1;
}

.item .label {
  padding: 4px 0;

  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 33px;
}

.item input:focus {
  border: 0;
  box-shadow: 0;
  border-radius: 10px;
}
