<div class="page">
  <div class="logo">
    <img src="assets/logo.png" alt="" />
  </div>

  <div class="card">
    <div class="header">Consultar uma Apólice</div>
    <div class="body">
      <div class="find">
        <div class="item">
          <label for="policyNumber">Número da Apólice</label>
          <input id="policyNumber" type="text" />
        </div>
        <button class="button primary">Buscar</button>
      </div>

      <div class="status">
        <span>icon</span>
        <div>Apólice venceu há 15 dias atrás!</div>
      </div>

      <div class="item">
        <span>Placa</span>
        <div>ABC-0011</div>
      </div>

      <div class="item">
        <span>Valor da apólice</span>
        <div>R$ 250,00</div>
      </div>
    </div>
    <div class="actions">
      <button class="button primary">Cadastrar</button>
      <button class="button secondary" routerLink="/policies">Voltar</button>
    </div>
  </div>
</div>
