<div class="page">
  <div class="logo">
    <img src="assets/logo.png" alt="">
  </div>

  <div class="menu">
    <button class="button-menu" routerLink="/customers-off">
      <span class="material-icons">
        person
      </span>
      <span>
        Clientes
      </span>
    </button>
    <button class="button-menu" routerLink="/policies">
      <span class="material-icons">
        description
      </span>
      <span>
        Apólices
      </span>
    </button>
    <button class="button-menu" routerLink="/policies/find">
      <span class="material-icons">
        find_in_page
      </span>
      <span>
        Consultar Apólice
      </span>
    </button>
  </div>
</div>
