<div class="page">
  <div class="logo">
    <img src="assets/logo.png" alt="" />
  </div>

  <div class="card">
    <div class="header">
      Editar Cliente
    </div>
    <div class="body">
      <div class="item">
        <label for="fullName">Nome completo</label>
        <input id="fullName" type="text">
      </div>

      <div class="item">
        <label for="cpf">CPF</label>
        <input id="cpf" type="text">
      </div>

      <div class="item">
        <label for="city">Cidade</label>
        <input id="city" type="text">
      </div>

      <div class="item">
        <label for="uf">UF</label>
        <input id="uf" type="text">
      </div>
    </div>
    <div class="actions">
      <button class="button primary">Cadastrar</button>
      <button class="button secondary" routerLink="/customers">Voltar</button>
    </div>
  </div>
</div>
