<div class="page">
  <div class="logo">
    <img src="assets/logo.png" alt="" />
  </div>

  <div class="card">
    <div class="header">
      Apólices
      <button
        id="btn-create"
        class="button primary"
        routerLink="/policies/create"
      >
        <span class="material-icons"> add </span>
        Cadastrar
      </button>
    </div>
    <div class="body">
      <div class="table">
        <table>
          <tr>
            <th>Número</th>
            <th>Placa</th>
            <th>Início de Vigência</th>
            <th>Fim de Vigência</th>
            <th>Valor</th>
            <th>Ações</th>
          </tr>
          <tr *ngFor="let policy of policies">
            <td>{{ policy.number }}</td>
            <td>{{ policy.licensePlate }}</td>
            <td>{{ policy.startValidity }}</td>
            <td>{{ policy.endValidity }}</td>
            <td>{{ policy.value }}</td>
            <td>
              <button class="button-table" routerLink="/policies/edit/">
                <span class="material-icons"> edit </span>
              </button>

              <button
                class="button-table delete"
                [swal]="{
                  title: 'Confirmação de exclusão',
                  text: 'Confirma a exclusão da apólice?',
                  showConfirmButton: false,
                  showDenyButton: true,
                  denyButtonText: 'Excluir',
                  showCancelButton: true,
                  cancelButtonText: 'Cancelar'
                }"
                (deny)="deletePolicy(2)"
              >
                <span class="material-icons"> delete </span>
              </button>
            </td>
          </tr>
        </table>
      </div>
    </div>
    <div class="actions">
      <button class="button secondary" routerLink="/">Voltar</button>
    </div>
  </div>
</div>
